<center><h2 class="text-danger">All Colleges</h2></center>

	<%= link_to "New College",new_college_path ,class: "btn btn-info btn-sm" %>
	<div class="container">
		<div class="table">
			<table class="table table-striped table-hover table-bordered">	
				<tr class="info">
					<th class="align">College Name </th>
					<th class="align">Email</th>
					<th class="align">Location</th>
					<th class= "align">Phone Number</th>
					<th colspan="5" class="align">Actions</th>
				</tr>
					
				<% @colleges.each do |college|%>
						
				<tr class="textcolor ">
					<td class="align"><%= college.name %></td>
					<td class="align"><%= college.email %></td>
					<td class="align"><%= college.location %></td>
					<td class="align"><%= college.phno %></td>
					<td class="align"><%= link_to "Edit",edit_college_path(college) %></td>
					<td class="align"><%= link_to "Delete",college,method: :delete ,data:{confirm: "Are you sure to delete?"}%></td> 
				</tr>

				<%end%>
			</table>
		</div>
	</div>